<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrds.iris.persist.dao.IrisFeatureMapper">
  <resultMap id="BaseResultMap" type="com.yrds.iris.persist.model.IrisFeature">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="img_depth" jdbcType="INTEGER" property="imgDepth" />
    <result column="img_l_width" jdbcType="INTEGER" property="imgLWidth" />
    <result column="img_l_height" jdbcType="INTEGER" property="imgLHeight" />
    <result column="img_l_len" jdbcType="INTEGER" property="imgLLen" />
    <result column="feature_l_len" jdbcType="INTEGER" property="featureLLen" />
    <result column="img_r_width" jdbcType="INTEGER" property="imgRWidth" />
    <result column="img_r_height" jdbcType="INTEGER" property="imgRHeight" />
    <result column="img_r_len" jdbcType="INTEGER" property="imgRLen" />
    <result column="feature_r_len" jdbcType="INTEGER" property="featureRLen" />
    <result column="alg_name" jdbcType="VARCHAR" property="algName" />
    <result column="alg_version" jdbcType="VARCHAR" property="algVersion" />
    <result column="match_time" jdbcType="TIMESTAMP" property="matchTime" />
    <result column="match_count" jdbcType="BIGINT" property="matchCount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="img_l_data" jdbcType="LONGVARBINARY" property="imgLData" />
    <result column="feature_l_data" jdbcType="LONGVARBINARY" property="featureLData" />
    <result column="img_r_data" jdbcType="LONGVARBINARY" property="imgRData" />
    <result column="feature_r_data" jdbcType="LONGVARBINARY" property="featureRData" />
  </resultMap>
</mapper>